{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{% for article in articles %}

<div>
  <h3>{{article.title}}</h3>
  <p>
  {# <a href="{{path('view-article',{{title: article.title}})}}"></a> #}

  <img src="{{article.image}}"/>
  <br>
  {{article.content}}</p>
</div>
{% endfor %}
{% endblock %}
